{% extends 'base.html' %}
{% import 'bootstrap/wtf.html' as wtf %}

{% block app_content %}
<!-- Display Flash Messages Here -->
{% include '_flash_message.html' %}

    <div class="row">
        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 text-center">
            <h1>Review Comments In Personal Blog Project</h1>            
        </div> 
    </div>    
    <!-- Row 1 Cards -->
    <div class="row">
        <div class="col-md-3">
          <!-- Card 1 -->
          <div class="card-deck">
            <div class="card">
              <img class="img img-fluid personal-blog-project" style="max-width: 50%; height: auto;" src="{{url_for('static', filename = 'images/admin/comment_moderation.svg')}}" class="card-img-top web-dev" alt="Article">
              <div class="card-body">
                <h4 class="card-title">Personal Blog Project</h4><hr>
                <p class="card-text">
                  Review All Hello World Comments
                </p>
                <a href=" {{ url_for('main.review_hello_world_comments') }} " class="btn">Take Action</a>
              </div>            
            </div>
            <!-- End of card 1 -->
          </div>
        </div>
        <div class="col-md-3">
            <!-- Card 2 -->
            <div class="card-deck">
              <div class="card">
                <img class="img img-fluid personal-blog-project" style="max-width: 50%; height: auto;" src="{{url_for('static', filename = 'images/admin/update_blog.svg')}}" class="card-img-top web-dev" alt="Article">
                <div class="card-body">
                <h4 class="card-title">Personal Blog Project</h4><hr>
                <p class="card-text">
                  Review All Flask Templates Comments
                </p>
                  <a href=" {{ url_for('main.review_flask_templates_comments') }} " class="btn">Take Action</a>
                </div>            
              </div>
              <!-- End of card 2 -->
            </div>
        </div>
        <div class="col-md-3">
            <!-- Card 3 -->
            <div class="card-deck">
              <div class="card">
                <img class="img img-fluid personal-blog-project" style="max-width: 50%; height: auto;" src="{{url_for('static', filename = 'images/admin/comment_moderation.svg')}}" class="card-img-top web-dev" alt="Article">
                <div class="card-body">
                <h4 class="card-title">Personal Blog Project</h4><hr>
                <p class="card-text">
                  Review All Flask Web Forms Comments
                </p>
                  <a href=" {{ url_for('main.review_flask_web_forms_comments') }} " class="btn">Take Action</a>
                </div>            
              </div>
              <!-- End of card 3 -->
            </div>
        </div>
        <div class="col-md-3">
            <!-- Card 4 -->
            <div class="card-deck">
              <div class="card">
                <img class="img img-fluid personal-blog-project" style="max-width: 50%; height: auto;" src="{{url_for('static', filename = 'images/admin/update_blog.svg')}}" class="card-img-top web-dev" alt="Article">
                <div class="card-body">
                <h4 class="card-title">Personal Blog Project</h4><hr>
                <p class="card-text">
                  Review All Flask Database Comments
                </p>
                  <a href=" {{ url_for('main.review_flask_database_comments') }} " class="btn">Take Action</a>
                </div>            
              </div>
              <!-- End of card 4 -->
            </div>
        </div>
    </div>
    <!-- Row 2 Cards -->
    <div class="row">
      <div class="col-md-3">
        <!-- Card 1 -->
        <div class="card-deck">
          <div class="card">
            <img class="img img-fluid personal-blog-project" style="max-width: 50%; height: auto;" src="{{url_for('static', filename = 'images/admin/comment_moderation.svg')}}" class="card-img-top web-dev" alt="Article">
            <div class="card-body">
              <h4 class="card-title">Personal Blog Project</h4><hr>
              <p class="card-text">
                Review All Comments in User Comments Article
              </p>
              <a href=" {{ url_for('main.review_user_comments_comments') }} " class="btn">Take Action</a>
            </div>            
          </div>
          <!-- End of card 1 -->
        </div>
      </div>
      <div class="col-md-3">
          <!-- Card 2 -->
          <div class="card-deck">
            <div class="card">
              <img class="img img-fluid personal-blog-project" style="max-width: 50%; height: auto;" src="{{url_for('static', filename = 'images/admin/update_blog.svg')}}" class="card-img-top web-dev" alt="Article">
              <div class="card-body">
                <h4 class="card-title">Personal Blog Project</h4><hr>
              <p class="card-text">
                Review All Flask Bootstrap Comments
              </p>
                <a href=" {{ url_for('main.review_flask_bootstrap_comments') }} " class="btn">Take Action</a>
              </div>            
            </div>
            <!-- End of card 2 -->
          </div>
      </div>
      <div class="col-md-3">
          <!-- Card 3 -->
          <div class="card-deck">
            <div class="card">
              <img class="img img-fluid personal-blog-project" style="max-width: 50%; height: auto;" src="{{url_for('static', filename = 'images/admin/comment_moderation.svg')}}" class="card-img-top web-dev" alt="Article">
              <div class="card-body">
                <h4 class="card-title">Personal Blog Project</h4><hr>
                <p class="card-text">
                  Review Dates and Time Comments
                </p>
                <a href=" {{ url_for('main.review_dates_and_time_comments') }} " class="btn">Take Action</a>
              </div>            
            </div>
            <!-- End of card 3 -->
          </div>
      </div>
  </div>
{% endblock %}