{% extends 'base.html' %}
{% import 'bootstrap/wtf.html' as wtf %}

{% block app_content %}
<!-- Display Flash Messages Here -->
{% include '_flash_message.html' %}

    <div class="row">
        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 text-center">
            <h1>Review Comments In Home Page Articles</h1>            
        </div> 
    </div>
    <!-- Row 1 Cards -->
    <div class="row">
      <div class="col-md-3">
        <!-- Card 1 -->
        <div class="card-deck">
          <div class="card">
            <img class="img img-fluid" style="max-width: 50%; height: auto;" src="{{url_for('static', filename = 'images/admin/update_blog.svg')}}" class="card-img-top web-dev" alt="Article">
            <div class="card-body">
              <h4 class="card-title">Getting Started</h4><hr>
              <p class="card-text">
                Review Getting Started Comments
              </p>
              <a href=" {{ url_for('main.review_getting_started_comments') }} " class="btn">Take Action</a>
            </div>            
          </div>
          <!-- End of card 1 -->
        </div>
      </div>
      <div class="col-md-3">
          <!-- Card 2 -->
          <div class="card-deck">
            <div class="card">
              <img class="img img-fluid" style="max-width: 50%; height: auto;" src="{{url_for('static', filename = 'images/admin/comment_moderation.svg')}}" class="card-img-top web-dev" alt="Article">
              <div class="card-body">
                <h4 class="card-title">Install Git</h4><hr>
                <p class="card-text">
                  Review Git Installation Comments
                </p>
                <a href=" {{ url_for('main.review_install_git_comments') }} " class="btn">Take Action</a>
              </div>            
            </div>
            <!-- End of card 2 -->
          </div>
      </div>
      <div class="col-md-3">
          <!-- Card 3 -->
          <div class="card-deck">
            <div class="card">
              <img class="img img-fluid" style="max-width: 50%; height: auto;" src="{{url_for('static', filename = 'images/admin/update_blog.svg')}}" class="card-img-top web-dev" alt="Article">
              <div class="card-body">
                <h4 class="card-title">GitHub SSH</h4><hr>
                <p class="card-text">
                  Review All GitHub SSH Comments
                </p>
                <a href=" {{ url_for('main.review_github_ssh_comments') }} " class="btn">Take Action</a>
              </div>            
            </div>
            <!-- End of card 3 -->
          </div>
      </div>
      <div class="col-md-3">
          <!-- Card 4 -->
          <div class="card-deck">
            <div class="card">
              <img class="img img-fluid" style="max-width: 50%; height: auto;" src="{{url_for('static', filename = 'images/admin/comment_moderation.svg')}}" class="card-img-top web-dev" alt="Article">
              <div class="card-body">
                <h4 class="card-title">Virtualenvwrapper</h4><hr>
                <p class="card-text">
                  Review Virtualenvwrapper Comments
                </p>
                <a href=" {{ url_for('main.review_virtualenvwrapper_comments') }} " class="btn">Take Action</a>
              </div>            
            </div>
            <!-- End of card 4 -->
          </div>
      </div>
  </div>
    <!-- Row 2 Cards -->
    <div class="row">
      <div class="col-md-3">
        <!-- Card 1 -->
        <div class="card-deck">
          <div class="card">
            <img class="img img-fluid" style="max-width: 50%; height: auto;" src="{{url_for('static', filename = 'images/admin/comment_moderation.svg')}}" class="card-img-top web-dev" alt="Article">
            <div class="card-body">
              <h4 class="card-title">Twilio SendGrid</h4><hr>
              <p class="card-text">
                Review Twilio SendGrid Comments
              </p>
              <a href=" {{ url_for('main.review_twilio_sendgrid_comments') }} " class="btn">Take Action</a>
            </div>            
          </div>
          <!-- End of card 1 -->
        </div>
      </div>
      <div class="col-md-3">
          <!-- Card 2 -->
          <div class="card-deck">
            <div class="card">
              <img class="img img-fluid" style="max-width: 50%; height: auto;" src="{{url_for('static', filename = 'images/admin/update_blog.svg')}}" class="card-img-top web-dev" alt="Article">
              <div class="card-body">
                <h4 class="card-title">TOTP Blog</h4><hr>
                <p class="card-text">
                  Review All TOTP 2FA Comments
                </p>
                <a href=" {{ url_for('main.review_totp_2fa_comments') }} " class="btn">Take Action</a>
              </div>            
            </div>
            <!-- End of card 2 -->
          </div>
      </div>
      <div class="col-md-3">
          <!-- Card 3 -->
          <div class="card-deck">
            <div class="card">
              <img class="img img-fluid" style="max-width: 50%; height: auto;" src="{{url_for('static', filename = 'images/admin/comment_moderation.svg')}}" class="card-img-top web-dev" alt="Article">
              <div class="card-body">
                <h4 class="card-title">Vagrant</h4><hr>
                <p class="card-text">
                  Review All Comments On Vagrant Article
                </p>
                <a href=" {{ url_for('main.review_vagrant_comments') }} " class="btn">Take Action</a>
              </div>            
            </div>
            <!-- End of card 3 -->
          </div>
      </div>
      <div class="col-md-3">
          <!-- Card 4 -->
          <div class="card-deck">
            <div class="card">
              <img class="img img-fluid" style="max-width: 50%; height: auto;" src="{{url_for('static', filename = 'images/admin/update_blog.svg')}}" class="card-img-top web-dev" alt="Article">
              <div class="card-body">
                <h4 class="card-title">Install Docker</h4><hr>
                <p class="card-text">
                  Review All Comments On Install Docker Article
                </p>
                <a href=" {{ url_for('main.review_install_docker_comments') }} " class="btn">Take Action</a>
              </div>            
            </div>
            <!-- End of card 4 -->
          </div>
      </div>
  </div>
  <!-- Row 3 Cards -->
  <div class="row">
    <div class="col-md-3">
      <!-- Card 1 -->
      <div class="card-deck">
        <div class="card">
          <img class="img img-fluid" style="max-width: 50%; height: auto;" src="{{url_for('static', filename = 'images/admin/update_blog.svg')}}" class="card-img-top web-dev" alt="Article">
          <div class="card-body">
            <h4 class="card-title">Elasticsearch</h4><hr>
            <p class="card-text">
              Review All Elasticsearch Comments
            </p>
            <a href=" {{ url_for('main.review_elasticsearch_comments') }} " class="btn">Take Action</a>
          </div>            
        </div>
        <!-- End of card 1 -->
      </div>
    </div>
    <div class="col-md-3">
        <!-- Card 2 -->
        <div class="card-deck">
          <div class="card">
            <img class="img img-fluid" style="max-width: 50%; height: auto;" src="{{url_for('static', filename = 'images/admin/comment_moderation.svg')}}" class="card-img-top web-dev" alt="Article">
            <div class="card-body">
              <h4 class="card-title">Ngrok</h4><hr>
              <p class="card-text">
                Review All Ngrok Article Comments
              </p>
              <a href=" {{ url_for('main.review_ngrok_comments') }} " class="btn">Take Action</a>
            </div>            
          </div>
          <!-- End of card 2 -->
        </div>
    </div>
    <div class="col-md-3">
        <!-- Card 3 -->
        <div class="card-deck">
          <div class="card">
            <img class="img img-fluid" style="max-width: 50%; height: auto;" src="{{url_for('static', filename = 'images/admin/update_blog.svg')}}" class="card-img-top web-dev" alt="Article">
            <div class="card-body">
              <h4 class="card-title">reCaptcha</h4><hr>
              <p class="card-text">
                Review All reCaptcha Comments
              </p>
              <a href=" {{ url_for('main.review_reCaptcha_comments') }} " class="btn">Take Action</a>
            </div>            
          </div>
          <!-- End of card 3 -->
        </div>
    </div>
    <div class="col-md-3">
        <!-- Card 4 -->
        <div class="card-deck">
          <div class="card">
            <img class="img img-fluid" style="max-width: 50%; height: auto;" src="{{url_for('static', filename = 'images/admin/comment_moderation.svg')}}" class="card-img-top web-dev" alt="Article">
            <div class="card-body">
              <h4 class="card-title">Blog 4</h4><hr>
              <p class="card-text">
                Review Blog 4 Comments
              </p>
              <a href=" # " class="btn">Take Action</a>
            </div>            
          </div>
          <!-- End of card 4 -->
        </div>
    </div>
  </div>
    <!-- Row 4 Cards -->
    <div class="row">
      <div class="col-md-3">
        <!-- Card 1 -->
        <div class="card-deck">
          <div class="card">
            <img class="img img-fluid" style="max-width: 50%; height: auto;" src="{{url_for('static', filename = 'images/admin/comment_moderation.svg')}}" class="card-img-top web-dev" alt="Article">
            <div class="card-body">
              <h4 class="card-title">Blog 1</h4><hr>
              <p class="card-text">
                Review Blog Comments
              </p>
              <a href=" # " class="btn">Take Action</a>
            </div>            
          </div>
          <!-- End of card 1 -->
        </div>
      </div>
      <div class="col-md-3">
          <!-- Card 2 -->
          <div class="card-deck">
            <div class="card">
              <img class="img img-fluid" style="max-width: 50%; height: auto;" src="{{url_for('static', filename = 'images/admin/update_blog.svg')}}" class="card-img-top web-dev" alt="Article">
              <div class="card-body">
              <h4 class="card-title">Blog</h4><hr>
              <p class="card-text">
                Review Blog Comments
              </p>
              <a href=" # " class="btn">Take Action</a>
              </div>            
            </div>
            <!-- End of card 2 -->
          </div>
      </div>
      <div class="col-md-3">
          <!-- Card 3 -->
          <div class="card-deck">
            <div class="card">
              <img class="img img-fluid" style="max-width: 50%; height: auto;" src="{{url_for('static', filename = 'images/admin/comment_moderation.svg')}}" class="card-img-top web-dev" alt="Article">
              <div class="card-body">
              <h4 class="card-title">Blog</h4><hr>
              <p class="card-text">
                Review Blog Comments
              </p>
              <a href=" # " class="btn">Take Action</a>
              </div>            
            </div>
            <!-- End of card 3 -->
          </div>
      </div>
      <div class="col-md-3">
          <!-- Card 4 -->
          <div class="card-deck">
            <div class="card">
              <img class="img img-fluid" style="max-width: 50%; height: auto;" src="{{url_for('static', filename = 'images/admin/update_blog.svg')}}" class="card-img-top web-dev" alt="Article">
              <div class="card-body">
              <h4 class="card-title">Blog</h4><hr>
              <p class="card-text">
                Review Blog Comments
              </p>
              <a href=" # " class="btn">Take Action</a>
              </div>            
            </div>
            <!-- End of card 4 -->
          </div>
      </div>
  </div>
</div>
{% endblock %}