/* FOOTER */
.my-footer{
    margin-bottom: 0px;
    position: absolute;
    bottom: 0;
    width: 100%;
    /* height: 200px; */
}
/* ------------------------------------------ */
/* Images */
/* ------------------------------------------ */
.web-dev{
    width: 48px;
    height: 48px;
}
img{
    box-shadow: 5px 5px 5px#E6E6E6;
    border-radius: 7px;
    margin-top: 20px;
    margin-bottom: 20px;
}
/* ------------------------------------------ */
/* General styles */
/* ------------------------------------------ */
html, body{
    min-height: 100vh;
    width: 100%;
    margin: 0px;
    position: relative;
}
body{
    font-family: medium-content-sans-serif-font, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
    line-height: 25px;
    font-size: 17px;
    font-weight: 400;
    padding: 0px;
}
body::after {
    content: '';
    display: block;
    /*height: 200px;  Set same as footer's height */
}
p{
    padding-bottom: 5px;
}
h1{
    text-align: center;
    padding-bottom: 10px;
}
h2, h5, h6{
    padding-top: 25px;
}
h3{
    padding-top: 0px;
}
h4{
    padding-top: 15px;
}
.chapters{
    list-style-type: none;
  }
/* MEDIA QUIERIES */
@media all and (max-width: 992px) {
    body::after {
        height: 150px; /* Set same as footer's height */
    }
    .my-footer{
        height: 150px;
    }
}
@media all and (min-width: 768px) {
    body::after {
        height: 50px; /* Set same as footer's height */
    }
    .my-footer{
        height: 50px;
    }
}
@media all and (min-width: 992px) {
    body::after {
        height: 50px; /* Set same as footer's height */
    }
    .my-footer{
        height: 50px;
    }
}
/* ------------------------------------------ */
/* Custom styles */
/* ------------------------------------------ */
.patron{
    background-color: #E6E6E6;
    padding: 20px;
    border-radius: 3px;
}
.my-name{
    text-align: center;
}
.about-me, .hire-me, .portfolio, .updates{
    background-color:#fff;
    padding: 20px;
    border-radius: 3px;
    margin: 35px;
    box-shadow: 5px 10px 18px #ebe6e3;
    /* center item in viewport */
    /* position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%); */
    /* 
    Also, consider this:
    https://stackoverflow.com/questions/19026884/flexbox-center-horizontally-and-vertically
    
    */
}
/* ------------------------------------------ */
/* Calendly */
/* ------------------------------------------ */
.calendar{
    margin-bottom: 5 px;
}
.calendly-inline-widget{
    border-radius: 3px;    
}
/* ------------------------------------------ */
/* CODE STYLING */
/* ------------------------------------------ */
code{
    color: black;       
}

/* This adds a code title */

.code-title{
    margin-bottom: -4px;
    font-size: 90%;
    background-color: #e6e6e6;
    padding-left: 10px;
    padding-bottom: 4px;
}
.hljs-comment{
    color: #b3b3b3;
}
blockquote{
    margin-top: 10px;
    margin-bottom: 10px;
    color: #b3b3b3;
}

/* ------------------------------------------ */
/* Article Post */
/* ------------------------------------------ */
.article-date{
    border: 1px solid #cccccc;
    text-align: center;
    border-radius: 3px;
    padding: 0px;
}
/* .comments-num{
    background-color: #482ff7;
    color: white;
} */
.my-row{
    background-color: orange;
}
.comment-title{
    text-decoration: underline;
}
.posting{
    border: 1px solid #d6d4d3;
    border-radius: 3px;
    padding:15px;
    text-align: center;
    margin: 5px;
}
/* ------------------------------------------ */
/* BUTTONS */
/* ------------------------------------------ */
.btn{
    border-radius: 3px;
    border: 1px solid #e6e6e6;
    padding: 5px;
    background-color: #fff;
    font-size: 15px;
    color: #706d6c;
}
.btn-delete {
    border-radius: 3px;
    border: 1px solid #e6e6e6;
    padding: 5px;
    background-color: #f7a9a9;
    font-size: 15px;
    color: #706d6c;
}
.btn-delete:hover {
    color: red;
}
.btn:hover{
    background-color: #f2f2f2;
    color:  #706d6c;
    border: 1px solid  #f2f2f2;
}
.schedule-btn, #payment-btn{
    font-size: 20px;
    padding: 10px;
    border-radius: 3px;
    background-color: #ede8e5;
    color: #706d6c;
    border: 1px solid #ede8e5;
}
.schedule-btn:hover, #payment-btn:hover{
    background-color: #dbd9d8;
    color:  #706d6c;
    border: 1px solid #dbd9d8;
}
.enrol{
    margin-bottom: 20px;
}
/* ------------------------------------------ */
/* CARDS */
/* ------------------------------------------ */
.card{
    border: 1px solid #d6d4d3;
    border-radius: 3px;
    padding:5px;
    text-align: center;
    margin: 5px;
    margin-bottom: 15px;
    box-shadow: 5px 10px 18px #ebeae9;

}
.card:hover{
    box-shadow: 5px 5px 10px 18px #f8f6f3;
}
.personal-blog-project {
    box-shadow: 5px 10px 18px #b06eb1;
}
/* ------------------------------------------ */
/* LINKS */
/* ------------------------------------------ */
a:link{
    text-decoration: none;
}
a:visited{
    color: #c9712f;    
}
a:active{
    color: orangered;
}
/* ------------------------------------------ */
/* HOVER EFFECTS */
/* ------------------------------------------ */
#comments:hover + .translate-info{
    display: block;
    border-radius: 3px;
    margin-bottom: 3px;
}
.translate-info{
    color: #ad7a37;
    background-color:#faf8f6;
    padding: 10px;
    display: none;
}
.posting-articles{
    padding-bottom: 5px;
}
/* ------------------------------------------ */
/* FORMS */
/* ------------------------------------------ */
.my-form{
    margin-bottom: 5px;
    border: 1px solid #e6e6e6;
    padding: 20px;
    border-radius: 3px;
}

/* ------------------------------------------ */
/* YOUTUBE VIDEOS */
/* ------------------------------------------ */
.youtube{
    padding-left: 20px;
    padding-right: 20px;
}
/* ------------------------------------------ */
/* TIMESTAMP */
/* ------------------------------------------ */
.my_timestamp {    
    font-family: 'Poiret One', cursive;
}

/* Danger Zone */
.delete:hover {
    color: red;
}
.allow:hover {
    color: green;
}