{% extends 'base.html' %}
{% import 'bootstrap/wtf.html' as wtf %}

{% block app_content %}
<div class="container">
    <div class="row">
        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 col-xl-12">
            <h1>Build A Personal Blog</h1>                
        </div>
    </div>
    <div class="row">
        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 col-xl-12">
            {% include '_web_dev_table_of_contents.html' %}
        </div>
    </div>
    <div class="row">            
        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 col-xl-12">
            <h3>Overview</h3>
            <p>
                This blog contains 5 parts:
            </p>
            <ol>
                <li>A simple Home Page containing all the articles</li>
                <li>An About Me page which shades light on who the author of the articles is</li>
                <li>A Portfolio page that shows all the projects you have been involved in</li>
                <li>A Hire Me Page which allows you to sell your services to interested persons</li>
                <li>My Interests Page which goes into detail about some of the things you really enjoy doing</li>
            </ol>
            <div class="col-xs-12 col-sm-12 col-md-4 col-lg-4 col-xl-4">
                <img src=" {{ url_for('static', filename = 'images/personal_blog.png') }} " class="img-fluid" style="max-width: 100%; height: auto;" alt="Chat App">
            </div>
            <p>

            </p>
        </div>
    </div><br>
</div>
{% endblock %}