{% extends 'base.html' %}
{% import 'bootstrap/wtf.html' as wtf %}

{% block app_content %}
        <h1>Update Portfolio Page</h1>

        <!-- Flash Message -->
        {% include '_flash_message.html' %}

                <!-- Comment Form -->
                <div class="row posting-articles">
                    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 my-form">
                        {{ wtf.quick_form(form) }}
                    </div>
                </div>
        
                <p class="delete">
                    <a href=" {{ url_for('main.delete_portfolio_page_projects') }} ">Delete projects in portfolio page one by one</a>
                </p>


        <!-- Actual Article -->
        {% for post in posts %}
            {% include '_portfolio_updates.html' %}
        {% endfor %}

        <!-- Pagination Links -->
        <nav aria-label="...">
            <ul class="pager">
                <li class="previous{% if not prev_url %} disabled{% endif %}">
                    <a href="{{ prev_url or '#' }}">
                        <span aria-hidden="true">&larr;</span> Newer Posts
                    </a>
                </li>
                <li class="next{% if not next_url %} disabled{% endif %}">
                    <a href="{{ next_url or '#' }}">
                        Older Posts <span aria-hidden="true">&rarr;</span>
                    </a>
                </li>
            </ul>
        </nav> 

{% endblock %}