{% extends 'base.html' %}
{% import 'bootstrap/wtf.html' as wtf %}

{% block app_content %}
<div class="container">
    <div class="row">            
        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 text-center">
            <h1>Request for Password Reset</h1>
        </div>
    </div>    
    <div class="row">
        <div class="col-md-4">
            <!-- Empty -->
        </div>
        <div class="col-md-4 my-form">
            {{ wtf.quick_form(form) }}            
        </div>
        <div class="col-md-4">
            <!-- Empty -->
        </div>     
    </div>
</div>
{% endblock %}