<h3>Table of Contents</h3>
<p>
    In this series, I am going to guide you on how to create your very own blog! Yes, by the end of this tutorial, you will have a personal blog very much similar to this one up
    and running. If you so wish, you can use your new understanding to further customize it to make it more personal. 
</p>
<p>
    For your referrence, below is a list of the articles I have included in this series:
</p>
<ol class="chapters">
    <li><a href=" {{ url_for('main.hello_world') }} ">Chapter 1: Hello, World!</a></li>
    <li><a href=" {{ url_for('main.flask_templates') }} ">Chapter 2: Working with Templates</a></li>
    <li><a href="{{ url_for('main.flask_web_forms') }}">Chapter 3: Flask Web Forms</a></li>
    <li><a href=" {{ url_for('main.flask_database') }} ">Chapter 4: Introduction to Database</a></li>
</ol>
<p class="patron text-center">
    If you love this series and would like to support my work on this blog, <span style="color: #b36b00;">consider becoming a patron</span>. Link in the footer.
</p>
<hr>