<div class="container">
    <!-- First Project -->
    <div class="row portfolio">
        <div class="col-xs-12 col-sm-12 col-md-4 col-lg-4 col-xl-4">
            <img src=" {{ url_for('static', filename = 'images/personal_blog.png') }} " class="img-fluid" style="max-width: 100%; height: auto;" alt="Chat App">
        </div>
        <div class="col-xs-12 col-sm-12 col-md-8 col-lg-8 col-xl-8">
            <h3>{{ post.title }}</h3>
            <p>
                {{ post.overview | safe }}
            </p>                                                
            <!-- <p>
                <a href="https://github.com/GitauHarrison/my-blog" target="_blank">Repo Link</a> | <a href="https://github.com/GitauHarrison" target="_blank">Contributors</a> | <a href="#" target="_blank">View Project</a>
            </p> -->
            <p>
                <div class="row">
                    <div class="col-xs-12 col-sm-3 col-md-3 col-lg-3 col-xl-3 text-center">
                        <a href="{{ post.github_link }}" target="_blank">Repo Link</a>
                    </div>
                    <div class="col-xs-12 col-sm-3 col-md-3 col-lg-3 col-xl-3 text-center">
                        
                            <span class="contributors-popup">
                                <a href="#">Contributors</a>
                            </span>
                        
                    </div>
                    <div class="col-xs-12 col-sm-3 col-md-3 col-lg-3 col-xl-3 text-center">
                        <a href="{{ post.project_design_link }}" target="_blank">Project Design</a>
                    </div>
                    <div class="col-xs-12 col-sm-3 col-md-3 col-lg-3 col-xl-3 text-center">
                        <a href="{{ post.live_project_link }}" target="_blank">View Project</a>
                    </div>
                </div>
            </p>
        </div>
    </div>      
</div>