{% extends 'base.html' %}
{% import 'bootstrap/wtf.html' as wtf %}

{% block app_content %}
<div class="container">
    <div class="row">
        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 col-xl-12">
            <h1>About Me</h1>                
        </div>
    </div>
    <div class="row about-me">
        <div class="row">
            <div class="col-xs-12 col-sm-4 col-md-4 col-lg-3 col-xl-3 align-self-center">
                <img class="img-fluid" style="max-width: 100%; height: auto;" src=" {{ url_for('static', filename = 'images/me.svg') }} " alt="Instructor">
                <p class="my-name"><a href="https://www.linkedin.com/in/gitau-harrison/">Gitau Harrison</a></p>
            </div>
            <div class="col-xs-12 col-sm-8 col-md-8 col-lg-9 col-xl-9">
                <h5>Background</h5>
                <p>
                    I quit school as as soon as I completed my high school diploma. Strangely, I became very bored with normal school life when I was 14
                    years of age, even though I was an average performer when compared aganist the elite students of Friends School Kamusinga back in 
                    the day. I have never been as depressed, hopeless and with no sense of purpose and direction as during my tail years of school. 
                </p>
                <p>
                    However, I found a dimming ray of interest whenever an acquintance of my came to our campus dormitory after a Computer Science class.
                    I would ask with little interest what he did and he would tell (not show) me bits of his incomplete work because, well, I didn't know 
                    anything about Computer Science. But this was enough to make me realize that I had a tiny some interest in the creative aspect of 
                    what he was learning. Technically speaking, I have not been to campus because there was nothing I did within my initial 6 months stay there.
                </p>
                <p>
                    I friend's business ambition got me up and running to learn how to program so I could be of value to his idea. And that is where my 
                    journey began.
                </p>
                <h5>My Location</h5>
                <p>
                    Currently, I am based in Nairobi, Kenya. This is my home city. I consider Seoul, South Korea, my city as well because it was there that 
                    I actively began to work on developing production software for Tinker Educaton, a branch of EMCAST.                    
                </p>
                <h5>My Interests</h5>
                <p>
                    I blog about programming, physical computing, capentry, musical instruments and fitness and wellness. Only these do I engage myself
                    in 100% of the time. I cannot hold any conversation outside these listed items. 
                </p>
                <p>
                    I have no other social media presence other than the necessary work sites such as GitHub and local programming communities near me.
                    And now that I have this blog, this will be my find-me-here-any-time social media platform of choice. 
                </p> 
                <h5>My Gratitude</h5>
                <p>
                    Thank you for stopping by! I hope you find something of interest. If you like something or you are interested in clarification of the 
                    contents blogged here, I would be glad to hear from you in the comments sections.
                </p>   
            </div>
        </div>
    </div>
</div>
{% endblock %}