{% extends 'base.html' %}
{% import 'bootstrap/wtf.html' as wtf %}

{% block app_content %}
<div class="container">
    <div class="row">
        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 col-xl-12">
            <h1>About Me</h1>                
        </div>
    </div>
    <div class="row about-me">
        <div class="row">
            <div class="col-xs-12 col-sm-4 col-md-4 col-lg-3 col-xl-3 align-self-center">
                <img class="img-fluid" style="max-width: 100%; height: auto;" src=" {{ url_for('static', filename = 'images/me.svg') }} " alt="Instructor">
                <p class="my-name"><a href="https://www.linkedin.com/in/gitau-harrison/" target="_blank" >Gitau Harrison</a></p>
            </div>
            <div class="col-xs-12 col-sm-8 col-md-8 col-lg-9 col-xl-9">
                <h5>Background</h5>                
                <p>
                    I have been developing software for the last 1 year alongside being a full-time employee in a leading Kids STEM Learning Center in Nairobi.
                    I am currently focusing on Python and Flask for web development.
                </p>
                <h5>My Location</h5>
                <p>
                    Currently, I am based in Nairobi, Kenya. This is my home city. I consider Seoul, South Korea, my city as well after a visit to EMCAST
                    , Tinker Educaton's headquaters, during which I actively began to work on developing production software.
                </p>
                <h5>My Interests</h5>
                <p>
                    I blog about programming, physical computing, capentry, musical instruments and fitness and wellness. Only these do I engage myself
                    in 100% of the time. I cannot hold any conversation outside these listed items. 
                </p>
                <p>
                    I have no other social media presence other than the necessary work sites such as GitHub and local programming communities near me.
                    And now that I have this blog, this will be my find-me-here-any-time social media platform of choice. 
                </p> 
                <h5>My Gratitude</h5>
                <p>
                    Thank you for stopping by! I hope you find something of interest. If you like it or you are interested in clarification of the 
                    contents blogged here, I will be glad to hear from you in the comments sections.
                </p>   
            </div>
        </div>
    </div>
</div>
{% endblock %}