{% extends 'bootstrap/base.html' %}

<!-- Head image goes here -->
{% block head %}
    {{ super() }}
    <link rel="icon" type="image/png" href="{{ url_for('static', filename = 'images/gitau_harrison.jpg') }}">
    {{ pagedown.html_head() }}
    {{ ckeditor.load() }}
{% endblock %}

<!-- Title Section -->
{% block title %}
    {% if title %}
        Gitau Harrison | {{ title }}
    {% else %}
        Welcome to Gitau Harrison
    {% endif %}
{% endblock %}

<!-- Import styles -->
{% block styles %}
    {{ super() }}
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Poiret+One&display=swap" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename = 'css/styles.css') }}">
{% endblock %}


<!-- Navbar Section -->
{% block navbar %}
<nav class="navbar navbar-default">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href=" {{ url_for('main.home') }} ">Gitau Harrison</a>
        </div>
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">            
            <ul class="nav navbar-nav navbar-right">                                  
                {% if current_user.is_anonymous %}
                    <li><a href=" {{ url_for('main.about_me') }} ">About Me</a></li>            
                    <li><a href=" {{ url_for('main.portfolio') }} ">Portfolio</a></li>                
                    <li><a href=" {{ url_for('main.hire_me') }} ">Hire Me</a></li>            
                    <li><a href=" {{ url_for('main.my_interests') }} ">My Interests</a></li>
                {% else %}
                    <li><a href=" {{ url_for('main.about_me') }} ">About Me</a></li>            
                    <li><a href=" {{ url_for('main.portfolio') }} ">Portfolio</a></li>                
                    <li><a href=" {{ url_for('main.hire_me') }} ">Hire Me</a></li>            
                    <li><a href=" {{ url_for('main.my_interests') }} ">My Interests</a></li>
                    <li><a href=" {{ url_for('main.admin') }} ">Admin</a></li> 
                    <li><a href=" {{ url_for('auth.logout') }} ">Logout</a></li> 
                {% endif %}
            </ul>                       
        </div>
    </div>
</nav>
{% endblock %}

<!-- Blog Content Goes Here -->
{% block content %}
    <div class="container">

        {% block app_content %}


        {% endblock %}
    </div>


    {% block footer %}    
        <nav class="my-footer navbar navbar-default">
            <div class="container">   
                <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 col-xl-12">                         
                    <ul class="nav navbar-nav">                
                        <li><a href="https://www.patreon.com/" target="_blank">Become A Patreon</a></li>                 
                    </ul>
                    <ul class="nav navbar-nav navbar-right">                                 
                        <li><a href="https://www.youtube.com/channel/UCqgJYnYPX99euaH2eoXfGyw" target="_blank">YouTube</a></li>            
                        <li><a href="https://github.com/GitauHarrison?tab=repositories" target="_blank">GitHub</a></li>                      
                    </ul> 
                </div>                                  
            </div>
        </nav>
    {% endblock %}
{% endblock %}

<!-- Scripts Section -->
{% block scripts %}
    {{ super() }}
    {{ moment.include_moment()}}
    <!-- calendly -->
    <script type="text/javascript" src="https://assets.calendly.com/assets/external/widget.js"></script>
    <!-- Stripe -->
    <script src="https://js.stripe.com/v3/"></script>
    <script src="{{ url_for('static', filename = 'js/main.js') }}"></script>
    <!-- Live Translation -->
    <script>
        function translate(sourceElem, destElem, sourceLang, destLang) {
            $(destElem).html('<img src="{{ url_for('static', filename='images/loading.gif') }}">');
            $.post('/translate', {
                text: $(sourceElem).text(),
                source_language: sourceLang,
                dest_language: destLang
            }).done(function(response) {
                $(destElem).text(response['text'])
            }).fail(function() {
                $(destElem).text("Error: Could not contact server");
            });
        }

        // HOVER EVENT
        $(function() {
            var timer = null;
            var xhr = null;
            $('.contributors-popup').hover(
                function(event) {
                    // mouse in event handler
                    var elem = $(event.currentTarget);
                    timer = setTimeout(function() {
                        timer = null;
                        xhr = $.ajax(
                            '/portfolio/' + '/popup').done(
                                function(data) {
                                    xhr = null;
                                    elem.popover({
                                        trigger: 'manual',
                                        html: true,
                                        animation: false,
                                        container: elem,
                                        content: data
                                    }).popover('show');
                                    flask_moment_render_all();
                                }
                            );
                    }, 500);
                },
                function(event) {
                    // mouse out event handler
                    var elem = $(event.currentTarget);
                    if (timer) {
                        clearTimeout(timer);
                        timer = null;
                    }
                    else if (xhr) {
                        xhr.abort();
                        xhr = null;
                    }
                    else {
                        elem.popover('destroy');
                    }
                }
            )
        });
        //END OF HOVER EVENT
    </script>
    <!-- reCaptcha Integration -->
    <script src='https://www.google.com/recaptcha/api.js' async defer></script>   
{% endblock %}