{% extends 'bootstrap/base.html' %}

<!-- Head image goes here -->
{% block head %}
    {{ super() }}
    <link rel="icon" type="image/png" href="{{ url_for('static', filename = 'images/hash-48.png') }}">
{% endblock %}

<!-- Title Section -->
{% block title %}
    {% if title %}
        Gitau Harrison | {{ title }}
    {% else %}
        Welcome to Gitau Harrison
    {% endif %}
{% endblock %}

<!-- Import styles -->
{% block styles %}
    {{ super() }}
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename = 'css/styles.css') }}">
{% endblock %}


<!-- Navbar Section -->
{% block navbar %}
<nav class="navbar navbar-default">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href=" {{ url_for('home') }} ">Gitau Harrison</a>
        </div>
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">            
            <ul class="nav navbar-nav navbar-right">                                 
                <li><a href=" {{ url_for('about_me') }} ">About Me</a></li>            
                <li><a href=" {{ url_for('portfolio') }} ">Portfolio</a></li>          
                <li><a href=" {{ url_for('hire_me') }} ">Hire Me</a></li>            
                <li><a href=" {{ url_for('my_interests') }} ">My Interests</a></li> 
            </ul>                       
        </div>
    </div>
</nav>
{% endblock %}

<!-- Blog Content Goes Here -->
{% block content %}
    {% block app_content %}

    {% endblock %}
{% endblock %}

<!-- Footer -->
{% block footer %}
    {super()}}
    <nav class="navbar navbar-default">
        <div class="container">
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">            
                <ul class="nav navbar-nav navbar-left">                                                                 
                    <li><a href="https://www.patreon.com/" target="_blank">Become A Patreon</a></li> 
                </ul> 
                <ul class="nav navbar-nav navbar-right">                                                         
                    <li><a href="https://www.youtube.com/" target="_blank">YouTube</a></li>            
                    <li><a href="https://github.com/GitauHarrison" target="_blank">GitHub</a></li> 
                </ul>                       
            </div>
        </div>
    </nav>
{% endblock %}

<!-- Scripts Section -->
{% block scripts %}
    {{ super() }}
    {{ moment.include_moment()}}
{% endblock %}