{% extends 'base.html' %}
{% import 'bootstrap/wtf.html' as wtf %}

{% block app_content %}
        <div class="row">
            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 col-xl-12">


<h1 id="connecting-to-github-with-ssh">Connecting to GitHub with SSH</h1>
<h4 id="what-is-ssh-">What is SSH?</h4>
<p>You can connect and authenticate to remote serves such as GitHub without supplying your <em>username</em> and <em>password</em> during each visit. It is recommended that you review your <code>SSH</code> key regularly and revoke any that may be invalid or compromised, just as you would your email account.
<br></p>
<h4 id="check-for-existing-ssh-keys">Check for existing <code>SSH</code> Keys</h4>
<pre style="margin: 30; line-height: 125%"><span style="color: #ff8080; ">$</span> ls <span style="color: #333333">-</span>al <span style="color: #333333">~/.</span>ssh
</pre>
<p>This lists all your available <code>SSH</code> keys. Check to see if you have an public <code>SSH</code> key. The file naming, by default, could be as follows:</p>
<pre style="margin: 30; line-height: 125%">id_rsa<span style="color: #333333">.</span>pub
</pre>
<p><br></p>
<h4 id="generate-a-new-ssh-key">Generate a  new <code>SSH</code> key</h4>
<p>If you have none listed from the step above, you may want to generate a public and a private key pair:</p>
<pre style="margin: 30; line-height: 125%"><span style="color: #ff8080; ">$</span> ssh<span style="color: #333333">-</span>keygen <span style="color: #333333">-</span>t rsa <span style="color: #333333">-</span>b <span style="color: #0000DD; font-weight: bold">4096</span> <span style="color: #333333">-</span>C <span style="background-color: #fff0f0">&quot;&lt;your GitHub email address goes here&gt;&quot;</span>
</pre>
<p>This will create a new <code>ssh</code> key using the email you have provided. When prompted to enter a file to save your <code>ssh</code> key, just press <code>Enter</code> to save it in the default file location.</p>
<pre style="margin: 30; line-height: 125%">S Enter a <span style="color: #007020">file</span> <span style="color: #000000; font-weight: bold">in</span> which to save the key (<span style="color: #333333">/</span>home<span style="color: #333333">/</span>you<span style="color: #333333">/.</span>ssh<span style="color: #333333">/</span>id_rsa): [Press enter]
</pre>
<p>Type a secure <em>passphrase</em> when prompted.
<br></p>
<h4 id="adding-your-ssh-key-to-the-ssh-agent">Adding your <code>SSH</code> key to the ssh-agent</h4>
<p>In the background, you can start your ssh-agent as below:</p>
<pre style="margin: 30; line-height: 125%"><span style="color: #ff8080; ">$</span> <span style="color: #007020">eval</span> <span style="background-color: #fff0f0">&quot;$(ssh-agent -s)&quot;</span>
</pre>
<pre style="margin: 30; line-height: 125%"><span style="color: #ff8080; ">$</span> ssh<span style="color: #333333">-</span>add <span style="color: #333333">~/.</span>ssh<span style="color: #333333">/</span>id_rsa
</pre>
<p><code>id_rsa</code> is the file that holds your key. Check how to list your files above. This file is hidden hence the use of <code>~/.</code>
<br></p>
<h4 id="adding-your-ssh-key-to-your-github-account">Adding your <code>SSH</code> key to your GitHub account</h4>
<p>Copy your <code>ssh</code> key to your clipboard [ctrl + shift + C from your terminal]. <strong>Make sure not to add newlines or whitespaces while you copy to the clipboard</strong> as  shown below:</p>
<pre style="margin: 30; line-height: 125%"><span style="color: #ff8080; ">$</span> sudo apt install xclip
</pre>
<p>This downloads and install xclip.</p>
<pre style="margin: 30; line-height: 125%"><span style="color: #ff8080; ">$</span> xclip <span style="color: #333333">-</span>sel clip <span style="color: #333333">&lt;</span> <span style="color: #333333">~/.</span>ssh<span style="color: #333333">/</span>id_rsa<span style="color: #333333">.</span>pub
</pre>
<p>This copies the content of the _id<em>rsa.pub</em> file to your clipboard. You can substitute the file name to match the exact name in your system.</p>
<ul>
<li>Log into your GitHub account. Click on settings as shown in the image below:<br></li>
</ul>
<p><img class="img-fluid" style="max-width: 100%; height: auto;" src=" {{ url_for('static', filename = 'images/github_settings.png') }}" alt="GitHub Settings">
<br></p>
<ul>
<li>Click on <em>SSH and GPG keys</em> from the left menu with <em>Settings</em><br></li>
</ul>
<p><img class="img-fluid" style="max-width: 100%; height: auto;" src=" {{ url_for('static', filename = 'images/ssh_gpa_keys.png') }}" alt="SSH and GPG keys">
<br></p>
<ul>
<li>Click the green <em>New SSH key</em> or <em>Add SSH key</em> button<br></li>
</ul>
<p><img class="img-fluid" style="max-width: 100%; height: auto;" src=" {{ url_for('static', filename = 'images/new_ssh.png') }}" alt="New SSH key">
<br></p>
<h3 id="changing-remote-s-url">Changing remote&#39;s URL</h3>
<p>If you look at one of your GitHub repository, you will see a green <em>Code</em> button . Click on the drop down menu to locate <code>HTTPS</code>, <code>SSH</code> and <code>GitHub CLI</code>
<img class="img-fluid" style="max-width: 100%; height: auto;" src=" {{ url_for('static', filename = 'images/https_ssh.png') }}" alt="Code"></p>
<ul>
<li>If you are updating to <code>https</code>, your URL will look as below:<pre><code class="lang-python">https:<span class="hljs-regexp">//gi</span>thub.com<span class="hljs-regexp">/GitauHarrison/</span>work_gossip_chat_app.git
</code></pre>
</li>
<li>If you are updating to <code>ssh</code>, your URL will look as below:<pre><code class="lang-python">git<span class="hljs-meta">@github</span>.<span class="hljs-string">com:</span>GitauHarrison/work_gossip_chat_app.git
</code></pre>
</li>
<li>If you are updating to <code>GitHub CLI</code>, your URL will look as below:</li><pre style="margin: 30; line-height: 125%">gh repo clone GitauHarrison<span style="color: #333333">/</span>work_gossip_chat_app 
</pre>
</ul>
<p><br></p>
<h4 id="testing-your-ssh-connection">Testing your <code>SSH</code> connection</h4>
<pre style="margin: 30; line-height: 125%"><span style="color: #ff8080; ">$</span> ssh <span style="color: #333333">-</span>T git<span style="color: #555555; font-weight: bold">@github.com</span>
</pre>
<p>This command will attempt to <code>ssh</code> to GitHub. You may see a warning. Verify the fingerprint  and then type <em>yes</em>.</p>
<p>Verify that the resulting message contains your <em>username</em>.
<br></p>
<h4 id="working-with-ssh-passphrases">Working with <code>ssh</code> passphrases</h4>
<p>To add extra layer of security, you will need a passphrase to your <code>ssh</code>. The reason behind this is because whenever someone gains access to your computer, they also gain access to every system that uses that key. <code>ssh-agents</code> are used to securely save your passphrases so you don&#39;t have to enter it all over again.</p>
<p>To add or change your passphrases for your existing private key without generating a new keypair, run the command below:</p>
<pre style="margin: 30; line-height: 125%"><span style="color: #ff8080; ">$</span> ssh<span style="color: #333333">-</span>keygen <span style="color: #333333">-</span>p
</pre>
<p>Press <code>Enter</code> to save your file in the default location, type in your new passphrase and press <code>Enter</code> again.
<br></p>
<h3 id="additional-notes-">Additional Notes:</h3>
<h4 id="switching-remote-url-from-ssh-to-https-">Switching remote URL from <code>SSH</code> to <code>HTTPS</code></h4>
<p>As ealier noted, whenever you use <code>https</code>, you will be prompted to provide your GitHub <em>username</em> and <em>password</em></p>
<ol>
<li><p>List all your remotes to know what remote name you want to change:</p>
<pre style="margin: 30; line-height: 125%"><span style="color: #ff8080; ">$</span> git remote <span style="color: #333333">-</span>V
</pre>
</li>
<li><p>Change to <code>HTTPS</code>:</p>
<pre style="margin: 30; line-height: 125%"><span style="color: #ff8080; ">$</span> git remote <span style="color: #007020">set</span><span style="color: #333333">-</span>url origin https:<span style="color: #333333">//</span>github<span style="color: #333333">.</span>com<span style="color: #333333">/</span>GitauHarrison<span style="color: #333333">/</span>work_gossip_chat_app<span style="color: #333333">.</span>git
</pre>
<p>Replace the GitHub link with your own repo link.</p>
</li>
<li><p>Verify remote URL has changed:</p>
<pre style="margin: 30; line-height: 125%"><span style="color: #ff8080; ">$</span> git remote <span style="color: #333333">-</span>V
</pre>
</li>
</ol>
<h4 id="switching-remote-url-from-https-to-ssh-">Switching remote URL from <code>HTTPS</code> to <code>SSH</code></h4>
<p>The commands needed for this are similar as those above. Run each at a time:</p>
<pre style="margin: 30; line-height: 125%"><span style="color: #ff8080; ">$</span> git remote <span style="color: #333333">-</span>v
<span style="color: #ff8080; ">$</span> git remote <span style="color: #007020">set</span><span style="color: #333333">-</span>url origin git<span style="color: #555555; font-weight: bold">@github.com</span>:GitauHarrison<span style="color: #333333">/</span>work_gossip_chat_app<span style="color: #333333">.</span>git
<span style="color: #ff8080; ">$</span> git remote <span style="color: #333333">-</span>v
</pre>


        </div>
    </div><hr>
    <!-- Comments Section -->
    <div class="row">            
        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 col-xl-12">
            <h3 id="comments">{{ total }} Comments</h3>  
            <div class="translate-info">Feel free to post your comment in your language</div>

            <!-- Display Flash Messages Here -->
            {% include '_flash_message.html' %}

            <!-- Comments Go Here -->
            {% for post in posts %}
                {% include '_comments.html' %}
            {% endfor %}

            <!-- Pagination Links -->
            <nav aria-label="...">
                <ul class="pager">
                    <li class="previous{% if not prev_url %} disabled{% endif %}">
                        <a href="{{ prev_url or '#' }}">
                            <span aria-hidden="true">&larr;</span> Newer Comments
                        </a>
                    </li>
                    <li class="next{% if not next_url %} disabled{% endif %}">
                        <a href="{{ next_url or '#' }}">
                            Older Comments <span aria-hidden="true">&rarr;</span>
                        </a>
                    </li>
                </ul>
            </nav>

            <!-- Comment Form Goes Here -->
            <div class="row">
                <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6 col-xl-6 my-form">
                    {{ wtf.quick_form(form) }}
                </div>
            </div>
        </div>
    </div>
{% endblock %}