{% extends 'base.html' %}
{% import 'bootstrap/wtf.html' as wtf %}

{% block app_content %}
    <div class="container">
        <div class="row">
            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 col-xl-12">
                <h1>Hire Me</h1>                
            </div>
        </div>
        <div class="row hire-me">
            <div class="row">            
                <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 col-xl-12">
                    <p>
                        I have a few slots within my schedule to hold one on one consultation meetings in a week. I am happy to assist you in anything 
                        I talk about in this blog. My consultation fee for one hour is 15 USD payable via Stripe.                                                                                                      
                    </p>
                    <p>
                        Topics I will be happy to assist you in are:
                        <ul>
                            <li>Web Development with Python And Flask</li>
                            <li>Fitness and Nutrition</li>
                            <li>Developing with the Violin</li>
                        </ul>
                    </p>
                    <p>
                        Also, if you are a company, I will be glad to support you in:
                        <ul>
                            <li>Software Development</li>
                            <li>Tutor you on topics I cover in this blog</li>
                            <li>Troubleshooting code not working as intended</li>
                            <li>Advise on deployment</li>
                        </ul> 
                        I am also available to work on short and medium term projects, especially if they have an interesting or challenging aspect to them.                       
                    </p>    
                    <p>
                        If you are interested in booking a video consultation with me, please select a convinient time on my calendar  by clicking on the 
                        Calendar Button below. Or, if you prefer to discuss your needs with me first, contact me directly through the real time chat feature.
                        You will be required to log in in order to access the chat.
                    </p>                   
                </div>
            </div>
            <div class="row">
                <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 text-center">
                    <a href=" {{ url_for('main.schedule') }} "><button class="schedule-btn" type="button">Schedule a Call</button></a>
                </div>
            </div>
        </div>
    </div>
{% endblock %}