{% extends 'base.html' %}
{% import 'bootstrap/wtf.html' as wtf %}

{% block app_content %}
    <div class="container">
        <div class="row">
            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 col-xl-12">
                <h1>Available Updates</h1>                
            </div>
        </div>
        <!-- First Content Update -->
        <div class="row updates">
            <!-- First Content Update -->
            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 col-xl-12">
                <div class="row">
                    <div class="col-xs-12 col-sm-12 col-md-10 col-lg-10 col-xl-10">
                        <h4>How to Configure Python Environment to use Virtualenv Wrapper</h4>    
                    </div>                    
                    <div class="col-xs-12 col-sm-12 col-md-2 col-lg-2 col-xl-2">
                        <p class="article-date">Oct 22, 2020</p>
                    </div>
                </div>
                <div class="row">
                    <div class="col-xs-12 col-sm-12 col-md-8 col-lg-12 col-xl-12">
                        <p>
                            Working on a python project in an isolated python environment is recommended so that python modules 
                            and packages don’t meddle with that of other projects or even that of the operating system. 
                            Thus, a virtual environment is needed eminently. I will show you how to set up your python environment 
                            to use virtualenvironment wrapper in Ubuntu 20.04. In this simple tutorial, we will do four things.
                        </p>
                    </div>
                </div>
                <div class="row">
                    <div class="col-xs-12 col-sm-12 col-md-10 col-lg-10 col-xl-10">
                        <p><a href="{{ url_for('virtualenvwrapper') }}">Read More</a></p>  
                    </div>                    
                    <div class="col-xs-12 col-sm-12 col-md-2 col-lg-2 col-xl-2">
                        <p># of comments</p>
                    </div>
                </div>
            </div>                        
        </div>
        <!-- Second Content Update -->
        <div class="row updates">
            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 col-xl-12">
                <div class="row">
                    <div class="col-xs-12 col-sm-12 col-md-10 col-lg-10 col-xl-10">
                        <h4>Vagrant: How to Download and Install the Right Way</h4>    
                    </div>                    
                    <div class="col-xs-12 col-sm-12 col-md-2 col-lg-2 col-xl-2">
                        <p class="article-date">Oct 22, 2020</p>
                    </div>
                </div>
                <div class="row">
                    <div class="col-xs-12 col-sm-12 col-md-8 col-lg-12 col-xl-12">
                        <p>
                            One of the reasons why you would consider Vagrant is because you seek to deploy your application so that other users 
                            can have access to it. It is a traditional method of deployment in the sense that it you need to install your application 
                            manually or through a scripted installer on a stock server machine. There are other servers that can be used for deployment.
                            Vagrant, unlike the rest, is free.
                        </p>
                    </div>
                </div>
                <div class="row">
                    <div class="col-xs-12 col-sm-12 col-md-10 col-lg-10 col-xl-10">
                        <p><a href="{{ url_for('vagrant') }}">Read More</a></p>  
                    </div>                    
                    <div class="col-xs-12 col-sm-12 col-md-2 col-lg-2 col-xl-2">
                        <p># of comments</p>
                    </div>
                </div>
            </div>                        
        </div>
        <!-- Third Content Update -->
        <div class="row updates">
            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 col-xl-12">
                <div class="row">
                    <div class="col-xs-12 col-sm-12 col-md-10 col-lg-10 col-xl-10">
                        <h4>Integrating reCaptcha with Your Flask Web App</h4>    
                    </div>                    
                    <div class="col-xs-12 col-sm-12 col-md-2 col-lg-2 col-xl-2">
                        <p class="article-date">Oct 22, 2020</p>
                    </div>
                </div>
                <div class="row">
                    <div class="col-xs-12 col-sm-12 col-md-8 col-lg-12 col-xl-12">
                        <p>
                            reCAPTCHA is a free service from Google that helps protect websites from spam and abuse. 
                            A “CAPTCHA” is a turing test to tell human and bots apart. It is easy for humans to solve, but hard for “bots” 
                            and other malicious software to figure out. By adding reCAPTCHA to a site, you can block automated software 
                            while helping your welcome users to enter with ease.
                        </p>
                    </div>
                </div>
                <div class="row">
                    <div class="col-xs-12 col-sm-12 col-md-10 col-lg-10 col-xl-10">
                        <p><a href=" {{ url_for('reCaptcha') }} ">Read More</a></p>  
                    </div>                    
                    <div class="col-xs-12 col-sm-12 col-md-2 col-lg-2 col-xl-2">
                        <p># of comments</p>
                    </div>
                </div>
            </div>                        
        </div>
        </div>
    </div>
{% endblock %}