{% extends 'base.html' %}
{% import 'bootstrap/wtf.html' as wtf %}

{% block app_content %}
<div class="container">
    <div class="row">
      <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 col-xl-12">
        <h1>My Interests</h1>                
      </div>
    </div>
    <div class="row">
        <div class="col-xs-12 col-sm-6 col-md-4 col-lg-3 col-xl-3">
            <div class="card" style="width: 25rem;">
                <img class="img-fluid" style="max-width: 50%; height: auto;" src="{{url_for('static', filename = 'images/undraw_building_websites_i78t.svg')}}" class="card-img-top web-dev" alt="Web Development">
                <div class="card-body">
                    <h5 class="card-title"><b>Web Development</b></h5><hr>
                  <p class="card-text">
                    Web development is the work involved in developing a web site for hosting through the Internet or an intranet network
                  </p>
                  <a href=" {{ url_for('main.web_development') }} " class="btn">Explore</a>
                </div>
            </div>
        </div>
        <div class="col-xs-12 col-sm-6 col-md-4 col-lg-3 col-xl-3">
            <div class="card" style="width: 25rem;">
                <img class="img-fluid" style="max-width: 50%; height: auto;" src="{{url_for('static', filename = 'images/undraw_circuit_sdmr.svg')}}" class="card-img-top" alt="Web Development">
                <div class="card-body">
                    <h5 class="card-title"><b>Arduino</b></h5><hr>
                  <p class="card-text">
                    Arduino is a micro-controller and IDE that runs on your computer, used to write and upload computer code
                  </p>
                  <a href="#" class="btn">Explore</a>
                </div>
            </div>
        </div>
        <div class="col-xs-12 col-sm-6 col-md-4 col-lg-3 col-xl-3">
            <div class="card" style="width: 25rem;">
                <img class="img-fluid" style="max-width: 50%; height: auto;" src="{{url_for('static', filename = 'images/undraw_winter_activities_vv0v.svg')}}" class="card-img-top" alt="Capentry">
                <div class="card-body">
                    <h5 class="card-title"><b>Capentry</b></h5><hr>
                  <p class="card-text">Learn the skilled trade and the craft of cutting, shaping, assembly and installation of structural woodwork</p>
                  <a href="#" class="btn">Explore</a>
                </div>
            </div>
        </div>
        <div class="col-xs-12 col-sm-6 col-md-4 col-lg-3 col-xl-3">
            <div class="card" style="width: 25rem;">
                <img class="img-fluid" style="max-width: 50%; height: auto;" src="{{url_for('static', filename = 'images/undraw_working_out_6psf.svg')}}" class="card-img-top" alt="Working Out">
                <div class="card-body">
                    <h5 class="card-title"><b>Fitness and Wellness</b></h5><hr>
                  <p class="card-text">Get ideas to enhance your ability to perform physical activities, and take a personal initiative to achieve optimal, holistic and balanced health across multiple dimensions</p>
                  <a href="#" class="btn">Explore</a>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}