{% block app_content %}
    <div class="container">
        <div class="row">
            <h4>Gitau Harrison</h4>
            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 col-xl-12">                              
                <a href="https://github.com/GitauHarrison" target="_blank"><img class="img-fluid" style="max-width: 100%; height: auto;" src="{{ url_for('static', filename = 'images/github.svg') }}"></a>  | <a href="https://www.youtube.com/" target="_blank"><img class="img-fluid" style="max-width: 100%; height: auto;" src="{{ url_for('static', filename = 'images/yt.png') }}"></a>
            </div>            
        </div>        
    </div>
{% endblock %}