{% extends 'base.html' %}
{% import 'bootstrap/wtf.html' as wtf %}

{% block app_content %}
    <div class="container">
        <div class="row">
            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 col-xl-12">
                <h1>Portfolio</h1>                
            </div>
        </div>
        <div class="row portfolio">
            <div class="col-xs-12 col-sm-12 col-md-4 col-lg-4 col-xl-4">
                <img src=" {{ url_for('static', filename = 'images/personal_blog.png') }} " class="img-fluid" style="max-width: 100%; height: auto;" alt="Chat App">
            </div>
            <div class="col-xs-12 col-sm-12 col-md-8 col-lg-8 col-xl-8">
                <h3>Personal Blog</h3>
                <p>
                    I decided to undertake the project of building my own blog post from scratch where I not only note but also share my 
                    experiences and knowledge in everyday things. I humbly chose to consistently and periodically share my daily experiences 
                    so that anyone else can <strong>freely learn</strong> the very same things if they are interested. 
                </p>
                <p>
                    I blog about programming, physical computing, capentry, musical instruments and fitness and wellness. Only these do I engage myself
                    in 100% of the time. I cannot hold any conversation outside these listed items. 
                </p>
                <p>
                    I have no other social media presence other than the necessary work sites such as GitHub and local programming communities near me.
                </p>
                <p>
                    <strong>Features</strong>:
                    <ul>
                        <li>Ability to post comments</li>
                        <li>Realtime Date and Time</li>
                        <li>Payment</li>
                        <li>Live Language Translation</li>
                        <li>Consultation Scheduling</li>
                        <li>Database Management</li>
                    </ul>                    
                </p>
                <p>
                    <strong>Tools Used:</strong>
                    <ul>
                        <li>Calendly for Scheduling</li>
                        <li>Microsoft Language Translator</li>
                        <li>Flask Framework</li>
                        <li>Twitter Bootstrap for Cross-browser Responsiveness</li>
                        <li>Python3 for Programming</li>
                        <li>Heroku for Deployment</li>
                        <li>SQLite for Local Development</li>
                        <li>Stripe For Payment</li>
                        <li>Moment JS for Realtime Date and Time</li>
                        <li>Gravatar for User Comments</li>
                        <li>Google reCaptcha for Extra Form Security</li>
                        <li>JQuery for Mobile Responsiveness</li>
                        <li>Ngrok for Localhost Testing</li>
                    </ul>
                </p>
                <p>
                    <a href="https://github.com/GitauHarrison/my-blog" target="_blank">Repo Link</a> | <a href="https://github.com/GitauHarrison" target="_blank">Contributors</a> | <a href="#" target="_blank">View Project</a>
                </p>
            </div>
        </div>
        <div class="row portfolio">
            <div class="col-xs-12 col-sm-12 col-md-4 col-lg-4 col-xl-4">
                <img src=" {{ url_for('static', filename = 'images/tinker_chat_app.png') }} " class="img-fluid" style="max-width: 100%; height: auto;" alt="Chat App">
            </div>
            <div class="col-xs-12 col-sm-12 col-md-8 col-lg-8 col-xl-8">
                <h3>Tinker Chat App</h3>
                <p>
                    Tinker Chat App is a simple microblog which allows for registered users to communicate with each other.
                    Anonymous users are requested to sign up so that they can find other platform users with whom they can chat.
                </p>
                <p>
                    <strong>Features</strong>:
                    <ul>
                        <li>User Registration and Login</li>
                        <li>Live Language Translation</li>
                        <li>Ability to post comments</li>
                        <li>Comments Search</li>
                        <li>Real Date Time</li>
                        <li>User Followership</li>
                    </ul>                    
                </p>
                <p>
                    <strong>Tools Used:</strong>
                    <ul>
                        <li>Flask</li>
                        <li>Twitter Bootstrap</li>
                        <li>Python3</li>
                        <li>Microsoft Translator</li>
                        <li>Elasticsearch</li>
                        <li>Heroku for Deployment</li>
                        <li>Moment JS</li>
                        <li>Gravatar</li>
                    </ul>
                </p>
                <p>
                    <a href="https://github.com/GitauHarrison/work-gossip-chat-app" target="_blank">Repo Link</a> | <a href="https://github.com/GitauHarrison" target="_blank">Contributors</a> | <a href="https://work-gossip-chat-app.herokuapp.com/main/home" target="_blank">View Project</a>
                </p>
            </div>
        </div>
        <div class="row portfolio">
            <div class="col-xs-12 col-sm-12 col-md-4 col-lg-4 col-xl-4">
                <img src=" {{ url_for('static', filename = 'images/somasoma_blog.png') }} " class="img-fluid" style="max-width: 100%; height: auto;" alt="Chat App">
            </div>
            <div class="col-xs-12 col-sm-12 col-md-8 col-lg-8 col-xl-8">
                <h3>Somasoma Blog</h3>
                <p>
                    This is a blogging platform that an admin can use to share ideas or knowledge that he or she has. Featured items include the admin's
                    personal interests and courses they find most interesting. Users can check out general information about available courses 
                    but will need to log in before they can view specific course information. It has been built using Python and Flask.
                </p>
                <p>
                    <strong>Features</strong>:
                    <ul>
                        <li>User Registration and Login</li>
                        <li>Ability to post comments</li>
                        <li>Real Date Time</li>
                        <li>Payment</li>
                    </ul>                    
                </p>
                <p>
                    <strong>Tools Used:</strong>
                    <ul>
                        <li>Flask</li>
                        <li>Twitter Bootstrap</li>
                        <li>Python3</li>
                        <li>Heroku for Deployment</li>
                        <li>SQLite for Local Development</li>
                        <li>Postre Database</li>
                        <li>Stripe For Payment</li>
                        <li>Moment JS</li>
                        <li>Gravatar</li>
                    </ul>
                </p>
                <p>
                    <a href="https://github.com/GitauHarrison/somasoma-blog" target="_blank">Repo Link</a> | <a href="https://github.com/GitauHarrison" target="_blank">Contributors</a> | <a href="https://somasoma-blog.herokuapp.com/home" target="_blank">View Project</a>
                </p>
            </div>
        </div>        
    </div>
{% endblock %}