{% extends 'base.html' %}
{% import 'bootstrap/wtf.html' as wtf %}

{% block app_content %}
    <div class="container">
        <div class="row">
            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 col-xl-12">
                <h1>Schedule Consultation</h1>
            </div>
        </div>
        <div class="row calendar">
            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 col-xl-12">
                <!-- Calendly inline widget begin -->
                <div class="calendly-inline-widget" data-url="https://calendly.com/gitauharrison/60min?background_color=7f7f7" style="min-width:250px;height:650px;"></div>                
                <!-- Calendly inline widget end -->
            </div>
        </div>
        <div class="row">
            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 col-xl-12">
                <p>
                    I have a few video conference consultation slots each week for those who want one-on-one time with me. 
                    I'm happy to assist you on any of the topics I cover on this blog. As soon as you have picked a time (or times) on the calendar,
                    make your payment by enrolling below.
                </p>                 
            </div>
        </div>
        <div class="row enrol">
            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 text-center">                
                <!-- Payment Button -->
                <a><button id="payment-btn" type="button">Enroll Now</button></a>
            </div>
        </div>
    </div>
{% endblock %}