{% extends 'base.html' %}
{% import 'bootstrap/wtf.html' as wtf %}

{% block app_content %}
<div class="container">
        <!-- Display Flash Messages Here -->
        {% include '_flash_message.html' %}
        
    <div class="row">
      <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 col-xl-12">
        <h1>My Interests</h1>                
      </div>
    </div>
    <div class="row">
        <div class="col-xs-12 col-sm-6 col-md-4 col-lg-3 col-xl-3">
            <div class="card" style="width: 25rem;">
              <img class="img-fluid" style="max-width: 50%; height: auto;" src="{{url_for('static', filename = 'images/undraw_building_websites_i78t.svg')}}" class="card-img-top web-dev" alt="Web Development">
                <div class="card-body">
                    <h5 class="card-title"><b>Web Development</b></h5><hr>
                  <p class="card-text">
                    Web development is the work involved in developing a web site for hosting through the Internet or an intranet network
                  </p>
                  <a href=" {{ url_for('main.web_development') }} " class="btn">Explore</a>
                </div>
            </div>
        </div>
        <!-- <div class="col-xs-12 col-sm-6 col-md-4 col-lg-3 col-xl-3">
            <div class="card" style="width: 25rem;">
                <img src="{{url_for('static', filename = 'images/arduino_logo.svg')}}" class="card-img-top" alt="Web Development">
                <div class="card-body">
                    <h5 class="card-title"><b>Arduino</b></h5><hr>
                  <p class="card-text">
                    Arduino consists of both a micro-controller and IDE that runs on your computer, used to write and upload computer code
                  </p>
                  <a href="#" class="btn">Explore</a>
                </div>
            </div>
        </div>
        <div class="col-xs-12 col-sm-6 col-md-4 col-lg-3 col-xl-3">
            <div class="card" style="width: 25rem;">
                <img src="{{url_for('static', filename = 'images/raspberry_pi_logo.png')}}" class="card-img-top" alt="Web Development">
                <div class="card-body">
                    <h5 class="card-title"><b>Capentry</b></h5><hr>
                  <p class="card-text">Web development is the work involved in developing a Web site for hosting via the Internet or an intranet</p>
                  <a href="#" class="btn">Explore</a>
                </div>
            </div>
        </div>
        <div class="col-xs-12 col-sm-6 col-md-4 col-lg-3 col-xl-3">
            <div class="card" style="width: 25rem;">
                <img src="{{url_for('static', filename = 'images/python.svg')}}" class="card-img-top" alt="Web Development">
                <div class="card-body">
                    <h5 class="card-title"><b>Fitness and Wellness</b></h5><hr>
                  <p class="card-text">Web development is the work involved in developing a Web site for hosting via the Internet or an intranet</p>
                  <a href="#" class="btn">Explore</a>
                </div>
            </div>
        </div> -->
    </div>
</div>
{% endblock %}