{% extends 'base.html' %}
{% import 'bootstrap/wtf.html' as wtf %}

{% block app_content %}
<div class="container">
    <div class="row">
      <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 col-xl-12">
        <h1>Updating The Blog</h1>                
      </div>
    </div>
    <div class="row text-center">
        <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6 col-xl-6">
            <p>
                <a class="posting" href=" {{ url_for('main.posting_home_page_articles') }} ">Update Home Page</a>                    
            </p>
          </div>
          <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6 col-xl-6">
            <p>
                <a class="posting" href=" {{ url_for('main.posting_portfolio_projects') }} ">Update Portfolio Page</a>                    
            </p>
          </div>
    </div>
</div>
{% endblock %}