{% extends 'base.html' %}
{% import 'bootstrap/wtf.html' as wtf %}

{% block app_content %}
    <div class="container">
        <div class="row">
            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 col-xl-12">
<h1 class="code-line" data-line-start=0 data-line-end=1 ><a id="How_to_configure_Python_Environment_to_use_Virtualenv_Wrapper_0"></a>How to configure Python Environment to use Virtualenv Wrapper</h1>
<p class="has-line-data" data-line-start="2" data-line-end="3">Working on a python project in an isolated python environment is recommended so that python modules and packages don’t meddle with that of other projects or even that of the operating system. Thus, a virtual environment is needed eminently.</p>
<p class="has-line-data" data-line-start="4" data-line-end="5">I will show you how to set up your python environment to use virtualenvironment wrapper in Ubuntu 20.04. In this simple tutorial, we will do four things:</p>
<ul>
<li class="has-line-data" data-line-start="6" data-line-end="7">Install <code>pip3</code></li>
<li class="has-line-data" data-line-start="7" data-line-end="8">Install <code>virtualenv</code></li>
<li class="has-line-data" data-line-start="8" data-line-end="9">Install <code>virtualenvwrapper</code></li>
<li class="has-line-data" data-line-start="9" data-line-end="11">Edit <code>.bashrc/</code> file or <code>.bash_profile</code> file, or both</li>
</ul>
<h5 class="code-line" data-line-start=11 data-line-end=12 ><a id="Prerequisites_11"></a>Prerequisites</h5>
<p class="has-line-data" data-line-start="13" data-line-end="14">We will use <code>pip3</code>, the default python package installer for Python3.</p>
<h5 class="code-line" data-line-start=15 data-line-end=16 ><a id="Setting_Up_a_Virtual_Environment_15"></a>Setting Up a Virtual Environment</h5>
<p class="has-line-data" data-line-start="17" data-line-end="18">Open your terminal in your home directory (or any other directory you may choose).First, you need to create a special directory which will be hidden that will store all your virtual environments</p>
<p class="has-line-data" data-line-start="19" data-line-end="20">Create a hidden virtual environments folder:</p>
<pre style="margin: 30; line-height: 125%">mkdir <span style="color: #333333">.</span>virtualenv <span style="color: #888888"># the dot(.) denotes that the file is hidden</span>
</pre>
<p class="has-line-data" data-line-start="25" data-line-end="26">Install <code>pip3</code>:</p>
<pre style="margin: 30; line-height: 125%"><span style="color: #ff8080; ">$</span> sudo apt install python3<span style="color: #333333">-</span>pip
</pre>
<p class="has-line-data" data-line-start="31" data-line-end="32">Confirm installation of <code>pip3</code>:</p>
<pre style="margin: 30; line-height: 125%"><span style="color:  #ff8080;">$</span> pip3 <span style="color: #333333">--</span>version <span style="color: #888888"># checks for the version of pip3</span>
<span style="color:  #ff8080; ">$</span> which pip3 <span style="color: #888888"># shows you the location of pip3 in your system</span>
</pre>
<p class="has-line-data" data-line-start="38" data-line-end="39">Install <code>virtualenv</code> using <code>pip3</code>:</p>
<pre style="margin: 30; line-height: 125%"><span style="color:#ff8080;">$</span> pip3 install virtualenv <span style="color: #888888"># install virtualenv</span>
<span style="color: #ff8080; ">$</span> which virtualenv <span style="color: #888888"># find where it is located</span>
</pre>
<p class="has-line-data" data-line-start="45" data-line-end="46">Now, it is time to install <code>virtualenvwrapper</code>:</p>
<pre style="margin: 30; line-height: 125%"><span style="color: #ff8080;">$</span> pip3 install virtualenvwrapper
</pre>
<p class="has-line-data" data-line-start="50" data-line-end="51">We will modify our <code>.bashrc</code> file by adding a row that will adjust every new virtual environment to use Python3. We will need to point virtual environments to the directory we created above (.virtualenv)</p>
<p class="has-line-data" data-line-start="52" data-line-end="53">Open the <code>.bashrc</code> file using your <code>vim</code> editor:</p>
<pre style="margin: 30; line-height: 125%"><span style="color:#ff8080;">$</span> vim <span style="color: #333333">.</span>bashrc
</pre>
<p class="has-line-data" data-line-start="58" data-line-end="59">If you notice that you do not have <code>vim</code> in your system, make sure you install it through <code>$ sudo apt install vim</code></p>
<p class="has-line-data" data-line-start="60" data-line-end="61"><code>.bashrc</code> file will open in your terminal. Something you should note about the <code>vim</code> editor is that it does not use the conventional editing commands such as <code>ctrl + C</code> etc. Rather, it uses its own special commands to allow you interact with it. Learn how to navigate the <code>vim</code> editor <a href="https://www.linux.com/training-tutorials/vim-101-beginners-guide-vim/">here</a>.</p>
<p class="has-line-data" data-line-start="62" data-line-end="63">For now, there are two basic commands you need to know:</p>
<ul>
<li class="has-line-data" data-line-start="63" data-line-end="64">How to enter into <code>insert</code> mode so you can make edits</li>
<li class="has-line-data" data-line-start="64" data-line-end="66">How to save and quit</li>
</ul>
<p class="has-line-data" data-line-start="66" data-line-end="67">Now that your editor is open, we need to start making changes. Scroll to the bottom of the file by pressing the down arrow key. At the very bottom of your editor, press the letter <em>i</em> to enter into <em>insert</em> mode (<em>i</em> could mean ‘insert’).</p>
<h5 class="code-line" data-line-start=68 data-line-end=69 ><a id="Insert_Mode_68"></a>Insert Mode</h5>
<p class="has-line-data" data-line-start="69" data-line-end="70">Add these rows:</p>
<pre style="margin: 30; line-height: 125%"><span style="color: #888888">#Virtualenvwrapper settings:</span>
export VIRTUALENVWRAPPER_PYTHON<span style="color: #333333">=/</span>usr<span style="color: #333333">/</span><span style="color: #007020">bin</span><span style="color: #333333">/</span>python3
export WORKON_HOME<span style="color: #333333">=</span><span style="color: #ff8080;">$</span>HOME<span style="color: #333333">/.</span>virtualenvs
export VIRTUALENVWRAPPER_VIRTUALENV<span style="color: #333333">=/</span>home<span style="color: #333333">/</span>gitau<span style="color: #333333">/.</span>local<span style="color: #333333">/</span><span style="color: #007020">bin</span><span style="color: #333333">/</span>virtualenv
source <span style="color: #333333">~/.</span>local<span style="color: #333333">/</span><span style="color: #007020">bin</span><span style="color: #333333">/</span>virtualenvwrapper<span style="color: #333333">.</span>sh
</pre>
<p class="has-line-data" data-line-start="78" data-line-end="79">Here, we have created variables to hold the path to our Python3 and virtual environment.</p>
<p class="has-line-data" data-line-start="80" data-line-end="81">Note that you should replace the line</p>
<pre style="margin: 30; line-height: 125%">export VIRTUALENVWRAPPER_VIRTUALENV<span style="color: #333333">=/</span>home<span style="color: #333333">/</span>gitau<span style="color: #333333">/.</span>local<span style="color: #333333">/</span><span style="color: #007020">bin</span><span style="color: #333333">/</span>virtualenv
</pre>
<p class="has-line-data" data-line-start="84" data-line-end="85">with your computer name:</p>
<pre style="margin: 30; line-height: 125%">export VIRTUALENVWRAPPER_VIRTUALENV<span style="color: #333333">=/</span>home<span style="color: #333333">/&lt;</span>your<span style="color: #333333">-</span>computer<span style="color: #333333">-</span>name<span style="color: #333333">&gt;/.</span>local<span style="color: #333333">/</span><span style="color: #007020">bin</span><span style="color: #333333">/</span>virtualenv
</pre>
<h5 class="code-line" data-line-start=90 data-line-end=91 ><a id="Save_and_Quit_90"></a>Save and Quit</h5>
<p class="has-line-data" data-line-start="92" data-line-end="93">Type <code>:wq</code> and press <code>Enter</code> This will allow you to save your changes and quit the editor. Close your terminal and reopen it.</p>
<p class="has-line-data" data-line-start="94" data-line-end="95">You have completed setting up your virtual environment.</p>
<h5 class="code-line" data-line-start=96 data-line-end=97 ><a id="Create_Your_Virtual_Environment_96"></a>Create Your Virtual Environment</h5>
<p class="has-line-data" data-line-start="98" data-line-end="99"><code>virtualenvwrapper</code> allows you to create and activate your virtual environment at the same time. To create your virtual environment, use the command <code>mkvirtualenv</code>:</p>
<pre style="margin: 30; line-height: 125%"><span style="color: #ff8080;">$</span> mkvirtualenv <span style="color: #333333">&lt;</span>name<span style="color: #333333">-</span>of<span style="color: #333333">-</span>your<span style="color: #333333">-</span>virtual<span style="color: #333333">-</span>environment<span style="color: #333333">&gt;</span> <span style="color: #888888"># for example mkvirtualenv chatapp</span>
</pre>
<p class="has-line-data" data-line-start="103" data-line-end="104">Your terminal will change from:</p>
<pre style="margin: 30; line-height: 125%">gitau<span style="color: #555555; font-weight: bold">@harry</span>:<span style="color: #333333">~/</span>software_development<span style="color: #333333">/</span>python<span style="color: #333333">/</span>flask_lesson_notes<span style="color: #ff8080;">$</span>
</pre>
<p class="has-line-data" data-line-start="108" data-line-end="109">To something like:</p>
<pre style="margin: 30; line-height: 125%">(chatapp) gitau<span style="color: #555555; font-weight: bold">@harry</span>:<span style="color: #333333">~/</span>software_development<span style="color: #333333">/</span>python<span style="color: #333333">/</span>flask_lesson_notes<span style="color: #ff8080">$</span>
</pre>
<p class="has-line-data" data-line-start="113" data-line-end="114">To deactivate your virtual environment, run:</p>
<pre style="margin: 30; line-height: 125%"><span style="color:  #ff8080;">$</span> deactivate
</pre>
<h5 class="code-line" data-line-start=118 data-line-end=119 ><a id="Reactivate_Your_Virtual_Environment_118"></a>Reactivate Your Virtual Environment</h5>
<p class="has-line-data" data-line-start="119" data-line-end="120">If you want to activate the virtual evironment you just created, run:</p>
<pre style="margin: 30; line-height: 125%"><span style="color: #ff8080;">$</span> workon chatapp
</pre>
<p class="has-line-data" data-line-start="125" data-line-end="126"><code>workon</code> command allows you to activate an already created virtualenvironment. You can also use the same command to list all available virtual environments in your system by running:</p>
<pre style="margin: 30; line-height: 125%"><span style="color: #ff8080;">$</span> workon
</pre>
<h5 class="code-line" data-line-start=131 data-line-end=132 ><a id="Remove_Your_Virtual_Environment_131"></a>Remove Your Virtual Environment</h5>
<p class="has-line-data" data-line-start="133" data-line-end="134">At some point, if you want to delete your virtual environment, simply use the <code>rmvirtualenv</code> command:</p>
<pre style="margin: 30; line-height: 125%"><span style="color: #ff8080;">$</span> rmvirtualenv chatapp
</pre>
<h5 class="code-line" data-line-start=139 data-line-end=140 ><a id="Copy_Your_Virtual_Environment_139"></a>Copy Your Virtual Environment</h5>
<p class="has-line-data" data-line-start="141" data-line-end="142">To copy an existing virtualevironment, use <code>cpvirtualenv</code>:</p>
<pre style="margin: 30; line-height: 125%"><span style="color: #ff8080;">$</span> cpvirtualenv chatapp
</pre>
            </div>
        </div><hr>
        <!-- Comments Section -->
        <div class="row">            
            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 col-xl-12">                
                <h3 id="comments">{{ total }} Comments</h3>                        
                <div class="translate-info">Feel free to post your comment in your language</div>

                <!-- Display Flash Messages Here -->
                {% include '_flash_message.html' %}

                <!-- Comments Go Here -->
                {% for post in posts %}
                    {% include '_comments.html' %}
                {% endfor %}                

                <!-- Pagination Links -->
                <nav aria-label="...">
                    <ul class="pager">
                        <li class="previous{% if not prev_url %} disabled{% endif %}">
                            <a href="{{ prev_url or '#' }}">
                                <span aria-hidden="true">&larr;</span> Newer Comments
                            </a>
                        </li>
                        <li class="next{% if not next_url %} disabled{% endif %}">
                            <a href="{{ next_url or '#' }}">
                                Older Comments <span aria-hidden="true">&rarr;</span>
                            </a>
                        </li>
                    </ul>
                </nav>

                <!-- Comment Form Goes Here -->
                <div class="row">
                    <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6 col-xl-6 my-form">
                        {{ wtf.quick_form(form) }}
                    </div>
                </div>               
            </div>
        </div>
    </div>
{% endblock %}