{% extends 'base.html' %}
{% import 'bootstrap/wtf.html' as wtf %}

{% block app_content %}
    <div class="container">
        <div class="row">            
            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 col-xl-12">


                <h1 class="code-line" data-line-start=0 data-line-end=1 ><a id="Web_Development_0"></a>Web Development</h1>
                <h3 class="code-line" data-line-start=3 data-line-end=4 ><a id="Overview_3"></a>Overview</h3>
                <p class="has-line-data" data-line-start="4" data-line-end="5">From a very general point of view, web development can be defined as all the actions associated with developing websites for the internet. This includes things <a href="https://en.wikipedia.org/wiki/Web_design">web design</a>, web content development, client-side and server-side scripting and network security configurations, among other things.</p>
                <p class="has-line-data" data-line-start="6" data-line-end="7">In a broader sense, web development includes all the actions, updates and operations required to build and maintain and manage a website to ensure that its performance, user experience and speed are satisfactory. Basically, it is the creation of dynamic web applications.</p>
                <p class="has-line-data" data-line-start="8" data-line-end="9">Examples of web applications are social networking sites such as <a href="https://www.facebook.com/">FaceBook</a>, music listening sites such <a href="https://www.spotify.com/">Spotify</a>, online purchasing sites such as <a href="https://www.amazon.com/">Amazon</a> among many others. Can you identify some on your own?</p>
                <p class="has-line-data" data-line-start="10" data-line-end="11"><img class="img-fluid" style="max-width: 100%; height: auto;" src=" {{ url_for('static', filename = 'images/spotify.png') }}" alt="Spotify"></p>
                <p class="has-line-data" data-line-start="12" data-line-end="13">The process of building a web application is a journey. During this web development series, I will be walking you through on how you can start creating your own web applications all the way through to making them available and accessible to other people.</p>
                <h3 class="code-line" data-line-start=14 data-line-end=15 ><a id="Understanding_the_Basics_14"></a>Understanding the Basics</h3>
                <p class="has-line-data" data-line-start="16" data-line-end="17">There are two broad divisions to web development:</p>
                <ul>
                <li class="has-line-data" data-line-start="17" data-line-end="18"><strong>Fron-end development</strong>: This is also referred to as the <a href="https://en.wikipedia.org/wiki/Client_(computing)">client-side</a> development.</li>
                <li class="has-line-data" data-line-start="18" data-line-end="20"><strong>Back-end development</strong>: This is also referred to as the <a href="https://en.wikipedia.org/wiki/Server_(computing)">server-side</a> development.</li>
                </ul>
                <p class="has-line-data" data-line-start="20" data-line-end="21"><img class="img-fluid" style="max-width: 100%; height: auto;" src=" {{ url_for('static', filename = 'images/clients-servers.png') }}" alt="Client - Server"></p>
                <h4 class="code-line" data-line-start=22 data-line-end=23 ><a id="Fronend_Web_Development_22"></a>Fron-end Web Development</h4>
                <p class="has-line-data" data-line-start="24" data-line-end="25">Front-end developement referes to displaying what a user sees when they load a web application. Front-end is made possible using HTML, CSS and JavaScript.</p>
                <p class="has-line-data" data-line-start="26" data-line-end="27">HTML (Hyper Text Markup Language) is the standard markup language for creating web applications. It is used to describe the <strong>structure</strong> of a web page.</p>
                <p class="has-line-data" data-line-start="28" data-line-end="29">CSS (Cascading Style Sheets) is used to set the rules that specify how we will style a web page. So, it’s main function (as you can see from its full name) is to style a web page.</p>
                <p class="has-line-data" data-line-start="30" data-line-end="31">JavaScript is a <a href="https://cs.lmu.edu/~ray/notes/scriptinglangs/">scripting language</a> which adds functionality and iteractivity to websites. While HTML can create web pages and CSS can customize the pages, they both make static web applications(they won’t do anything). And this is where JavaScript comes in. It can listen to user events such as button clicks, key presses or even whenever a user hovers the mouse on an item on a web page, making the page more interactive.</p>
                <h4 class="code-line" data-line-start=32 data-line-end=33 ><a id="Backend_Web_Development_32"></a>Back-end Web Development</h4>
                <p class="has-line-data" data-line-start="34" data-line-end="35">Back-end controls what goes on behind the scenes of a web application. Back-ends often use databases to generate the front-end.</p>
                <p class="has-line-data" data-line-start="36" data-line-end="37">For example, the very first time you want to listen to your music on Spotify, you have to sign up and log in. On successful login, you are automatically presented with your home page which will contain options for you to select songs you would like to listen to. Question: What happened such that as soon as you clicked the log in button you were redirected to your music homepage where you can see recommendations of songs to listen to? And if that is not enough, how come these recommendations keep changing every time? Does a Spotify employee pre-logs into your account and push recommendations to your home page? Definitely not! A script on the Spotify back-end is resposible for your successful log in and the mentioned recommendations.</p>
                <p class="has-line-data" data-line-start="38" data-line-end="39">Back-end scripts can be written in many different programming languages and frameworks, such as:</p>
                <ol>
                <li class="has-line-data" data-line-start="40" data-line-end="41">Python</li>
                <li class="has-line-data" data-line-start="41" data-line-end="42">Java</li>
                <li class="has-line-data" data-line-start="42" data-line-end="44">PhP</li>
                </ol>
                <p class="has-line-data" data-line-start="44" data-line-end="45">Among many others.</p>
                <p class="has-line-data" data-line-start="46" data-line-end="47">My goal in the subsequent sections is to help you learn full-stack web development primarily using Python and Flask. With full-stack I mean you are familiar and very much capable of building both the front-end and the back-end of a web application.</p>
                <h3 class="code-line" data-line-start=48 data-line-end=49 ><a id="Getting_Started_48"></a>Getting Started</h3>
                <p class="has-line-data" data-line-start="50" data-line-end="51">It is very important that you learn and master the front-end side of building a web application. I will not focus so much on the front-end part of web development creation. However, I will help you learn how to combine both the front-end and the back-end to create something full-stack.</p>
                <h4 class="code-line" data-line-start=52 data-line-end=53 ><a id="Things_you_need_to_learn_52"></a>Things you need to learn</h4>
                <ol>
                <li class="has-line-data" data-line-start="54" data-line-end="55">Choose a Text Editor</li>
                <li class="has-line-data" data-line-start="55" data-line-end="56">HTML and CSS</li>
                <li class="has-line-data" data-line-start="56" data-line-end="57">Git and GitHub</li>
                <li class="has-line-data" data-line-start="57" data-line-end="59">Hosting of Static Web Applications</li>
                </ol>
                <h4 class="code-line" data-line-start=59 data-line-end=60 ><a id="Choose_a_Text_Editor_59"></a>Choose a Text Editor</h4>
                <p class="has-line-data" data-line-start="61" data-line-end="62"><img class="img-fluid" style="max-width: 100%; height: auto;" src=" {{ url_for('static', filename = 'images/vs_code.png') }}" alt="VS Code"></p>
                <p class="has-line-data" data-line-start="63" data-line-end="64">A text Editor is the tool you will use to write you code and edit it. There are several available text editors. For the purposes of this tutorial, I will recommed <a href="https://code.visualstudio.com/">Visual Studio Code</a>. You will need to download it and install it depending on the kind of operating system you have. Here is the <a href="https://code.visualstudio.com/download">download link</a>.</p>
                <p class="has-line-data" data-line-start="65" data-line-end="66">Visual Studio Code also supports extensions which let you add support for various programming languages and also provide debuggers to support your development workflow.</p>
                <h4 class="code-line" data-line-start=67 data-line-end=68 ><a id="Learn_HTML_and_CSS_67"></a>Learn HTML and CSS</h4>
                <p class="has-line-data" data-line-start="68" data-line-end="69"><img class="img-fluid" style="max-width: 100%; height: auto;" src=" {{ url_for('static', filename = 'images/shay_howe.png') }}" alt="Shay Howe"></p>
                <p class="has-line-data" data-line-start="70" data-line-end="71">In this regard, I highly recommend that you look at <a href="https://learn.shayhowe.com/">https://learn.shayhowe.com/</a>. There is a series called <em>Learn to Code HTML &amp; CSS</em>. This series will walk you through a very systematic and beautifully structured learning progress as you learn the front-end part of web application.</p>
                <p class="has-line-data" data-line-start="72" data-line-end="73">As soon as you are done with <em>Learn to Code HTML &amp; CSS</em>, consider to look at <a href="https://learn.shayhowe.com/advanced-html-css/">Learn to Code AdvancedHTML &amp; CSS</a>. This takes a deeper look at front-end design and development.</p>
                <h4 class="code-line" data-line-start=74 data-line-end=75 ><a id="Learn_Git_and_GitHub_74"></a>Learn Git and GitHub</h4>
                <p class="has-line-data" data-line-start="75" data-line-end="76"><img class="img-fluid" style="max-width: 100%; height: auto;" src=" {{ url_for('static', filename = 'images/github.png') }}" alt="GitHub"></p>
                <p class="has-line-data" data-line-start="77" data-line-end="78"><code>git</code> is a free, open-source version control software, which basically means that it allows you to track your content. Say you begin to work on a project today. We will call this verision of the project <em>version1</em>. Then after one week, you decide to make changes to the very same project, maybe add or delete a few items here and there. This new update become <em>Version2</em> of the project.</p>
                <p class="has-line-data" data-line-start="79" data-line-end="80">This type of work is what <code>git</code> is meant for. It basically is a content tracker.</p>
                <p class="has-line-data" data-line-start="81" data-line-end="82">As soon as you have completed making every verison of your project, you need to save it somewhere for ease of access and also to allow for sharing with anyone who is interested in taking part in the your project or someone who just wants to see what you have been doing.</p>
                <p class="has-line-data" data-line-start="83" data-line-end="84">Real life projects generally have multiple developers working in parallel. So a version control system like Git is needed to ensure there are no code conflicts between the developers.</p>
                <p class="has-line-data" data-line-start="85" data-line-end="86">There are three most popular Git hosting services. They are GitHub (Owned by Microsoft), GitLab (Owned by GitLab) and BitBucket. We will use <a href="https://github.com/">GitHub</a> as our hosting service.</p>
                <h5 class="code-line" data-line-start=87 data-line-end=88 ><a id="Why_Git_and_GitHub_87"></a>Why Git and GitHub</h5>
                <ol>
                <li class="has-line-data" data-line-start="89" data-line-end="91">
                <p class="has-line-data" data-line-start="89" data-line-end="90">It helps you track changes in the code to your project. When multiple people collaborate on a project, it’s hard to keep track revisions — who changed what, when, and where those files are stored. GitHub takes care of this problem by keeping track of all the changes that have been pushed to the repository.</p>
                </li>
                <li class="has-line-data" data-line-start="91" data-line-end="93">
                <p class="has-line-data" data-line-start="91" data-line-end="92">Contribute to Open-source projects: If you want to contribute, you just fork a project, make your changes and then send them a pull request.</p>
                </li>
                <li class="has-line-data" data-line-start="93" data-line-end="95">
                <p class="has-line-data" data-line-start="93" data-line-end="94">Documentations: Help sections and guides have articles for nearly any topic related to git that you can think of.</p>
                </li>
                <li class="has-line-data" data-line-start="95" data-line-end="97">
                <p class="has-line-data" data-line-start="95" data-line-end="96">Showcase your work: As earlier mentioned, you can share your project hosted on GitHub with anyone who want to see what you have been doing.</p>
                </li>
                </ol>
                <p class="has-line-data" data-line-start="97" data-line-end="98">Learn more about <code>git</code> and GitHub <a href="https://medium.com/@mvthanoshan9/ubuntu-a-beginners-guide-to-git-github-44a2d2fda0b8">here</a>. For the official guide on how to use git and GitHub, consider reading the <a href="https://docs.github.com/en/free-pro-team@latest/github/getting-started-with-github/quickstart">official documentation</a>.</p>
                <h4 class="code-line" data-line-start=100 data-line-end=101 ><a id="Hosting_of_Static_Web_Applications_100"></a>Hosting of Static Web Applications</h4>
                <p class="has-line-data" data-line-start="101" data-line-end="102"><img class="img-fluid" style="max-width: 100%; height: auto;" src=" {{ url_for('static', filename = 'images/netlify.png') }}" alt="Netlify"></p>
                <p class="has-line-data" data-line-start="103" data-line-end="104"><a href="https://app.netlify.com/drop">Netlify</a> offers a free hosting service which will allow you to host your completed projects. As soon as you are done with a web application, you can drag the root folder to netlify and it will automatically host your application. You will be provided with a custom URL (which you can edit, by the way) to share your project with others.</p>
                <h4 class="code-line" data-line-start=105 data-line-end=106 ><a id="Conclusion_105"></a>Conclusion</h4>
                <p class="has-line-data" data-line-start="107" data-line-end="108">Phew! Those are a ton! But, take your time. Go over them and you will have a solid base on which to begin your full-stack web development journey.</p>
                <p class="has-line-data" data-line-start="109" data-line-end="110">Notably, I am recommending a self-teaching approach here. None of the above mentioned items are going to be covered here. You will need to make a personal effort to learn them on your own.</p>
                <p class="has-line-data" data-line-start="111" data-line-end="112">As soon as you are done with these, I will be glad to see your outcome. Please share your completed front-end static web pages with me in the comments section below. If you have any questions regarding how to get started, feel free to reach out anytime.</p>
                <h3 class="code-line" data-line-start=113 data-line-end=114 ><a id="Full_Stack_Projects_Using_Python_And_Flask_113"></a>Full Stack Projects Using Python And Flask</h3>
                <p class="has-line-data" data-line-start="115" data-line-end="116">Below are some of the projects you will learn how to build. By the end of each one of them, you will have a far solid understanding and thus you can begin to build your very own. I recommend that you begin with the first project and follow through in the same order if you are starting out on Python and Flask.</p>
                <ol>
                <li class="has-line-data" data-line-start="117" data-line-end="118"><a href="personal_blog.md">Personal Blog</a></li>
                <li class="has-line-data" data-line-start="118" data-line-end="119"><a href="realtime_chat_app.md">Reat-time Chat Application</a></li>
                </ol>


            </div>
        </div><hr>
           <!-- Comments Section -->
        <div class="row">            
            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 col-xl-12">
                <h3 id="comments">Comments</h3>
                <div class="translate-info">Feel free to post your comment in your language</div>

                <!-- Display Flash Messages Here -->
                {% include '_flash_message.html' %}

                <!-- Comments Go Here -->
                {% for post in posts %}
                    {% include '_comments.html' %}
                {% endfor %}                

                <!-- Pagination Links -->
                <nav aria-label="...">
                    <ul class="pager">
                        <li class="previous{% if not prev_url %} disabled{% endif %}">
                            <a href="{{ prev_url or '#' }}">
                                <span aria-hidden="true">&larr;</span> Newer Comments
                            </a>
                        </li>
                        <li class="next{% if not next_url %} disabled{% endif %}">
                            <a href="{{ next_url or '#' }}">
                                Older Comments <span aria-hidden="true">&rarr;</span>
                            </a>
                        </li>
                    </ul>
                </nav>

                <!-- Comment Form Goes Here -->
                <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6 col-xl-6 my-form">
                    {{ wtf.quick_form(form) }}
                </div>               
            </div>
        </div>        
    </div>
{% endblock %}